.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  background-color: bisque;
}

.card-footer {
  background-color: bisque;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

body {
  background-color: beige;
}

.navbar {
  background-color: blanchedalmond;
}

.social {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
